<h3>会員一覧</h3>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">会員ID</th>
      <th scope="col">氏名</th>
      <th scope="col">メールアドレス</th>
      <th scope="col">ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @customers.eath do |customer| %>
    <tr>
      <th scope="row"><%= customer.id %></th>
      <td><%= customer.last_name %><% customer.first_name %></td>
      <td><%= customer.email %></td>
      <td>ステータス</td>
      <td>
        <% if customer.is_deleted %>
        退会
        <% else %>
        有効
        <% end %>
        </td>
    </tr>
    <% end %>
  </tbody>
</table>
