<div class="container">
  <div class="row my-5 py-5 ">
    <div class="col-md-2 ">
      <table class="table table-hover">
        <thead>
          <tr align="center">
            <th>ジャンル検索</th>
          </tr>
        </thead>
        <tbody>
          
          <tr>
            <td>
            </td>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  <div class="col-md-9 offset-1 ">
   <div style="background: url(<%= asset_path "top.jpg" %>);">
   <div class="container col-8 text-center" style="background-color:rgba(255,255,255,0.5);">
    <h3 style="color:black;padding-top:10px"><strong>ようこそ、ながのCAKEへ！</strong></h3><br />
    <p style=padding-bottom:10px>
      このサイトは、ケーキ販売のECサイトになります。<br />
      会員でない方も商品の閲覧はできますが、<br />
      購入には会員登録が必要になります。
    </p>
   </div>
  </div>
</div>
</div>


<div class="items">
  <div class="col-md-9 offset-md-3">
    <h3 style="padding:10px;"><strong>新着商品</strong></h3>
  </div>
</div>
