
<div style="background: url(<%= asset_path "top.jpg" %>);">
 <div class="row m-5 p-5">
  <div class="col-md-12">
   <div class="container col-7 text-center" style="background-color:rgba(255,255,255,0.5);">
    <h3 style="color:black;padding-top:10px"><strong>ようこそ、ながのCAKEへ！</strong></h3><br />
    <p style=padding-bo:10px>
      このサイトは、ケーキ販売のECサイトになります。<br />
      会員でない方も商品の閲覧はできますが、<br />
      購入には会員登録が必要になります。
    </p>
   </div>
  </div>
</div>
</div>
<div class="items">
  <div class="col-md-12">
    <h3 style="padding:10px;"><strong>新着商品</strong></h3>

  </div>
</div>
