@import '~bootstrap/scss/bootstrap';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  
}

.cover-img {
	height: 600px;
	display: table;
	width: 100%;
	background-size: cover;
	margin: 20px;
}