<div class="container ">
  <div class="row p-5">
    <div class="col p-5 text-center">
      <h1 class"pb-5">ご注文ありがとうございました！</h1>
       <%= image_tag 'AdobeStock_330921149.jpeg', class: 'images' %>
       </div>
  </div>
</div>
